<div class="partenaires">
  <ul>
    <p style="font-family: Chathura, serif; font-weight: bold; font-size: 48px; color: white; text-transform: uppercase;"><u>{%t titles.partenaires %}</p>

      <a class="speedy" href="https://www.speedy.com/"><img src="/images/speedy.png" width=300 height=300></a>

    <li><a class="beneva" href="https://www.beneva.ca"><img src="/images/beneva-white.png" width=100 height=85></a></li>

    <li><a class="faeq" href="https://faeq.com/"><img src="/images/FAEQ-grey.png" width=100 height=85></a></li>
  </ul>
</div>