---
layout: default-cyber
---

<main id="main" class="main-content" aria-label="Content">
  <article>
    {% include page-image.html %}
    <div class="page-wrapper">
      <header class="page-header">
        {% if page-cyber.id %}
          {% assign title = page-cyber.title | markdownify | strip_html %}
        {% else %}
          {% assign title = page-cyber.title %}
        {% endif %}
        {% if page-cyber.link %}
          <h1 id="page-title" class="page-title"><a href="{% t{{ page.link }} %}">{% t{{ title }} %} <span class="link-arrow">&rarr;</span></a></h1>
        {% else %}
          <h1 id="page-title" class="page-title">{% t{{ title }} %}</h1>
        {% endif %}
      </header>
      <div class="page-content">
        {{ content }}

        {% if page-cyber.share %}
          {% include social-share.html %}
        {% endif %}
      </div>
    </div>
  </article>
</main>
